@import "vendor/bourbon/bourbon";
@import "global/custom_mixins";

// Uwaterloo fdsu themes.
@import "sotu/grid-settings";

// Turn on visial grid.
// $visual-grid: true;
$visual-grid-color: green;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

@import "vendor/neat/neat";

// Bring in globals
@import "global/fonts";
@import "global/global";

// SOTU
@import "sotu/base_sotu";
@import "sotu/responsive";

// Uncomment for visual breakpoint hints during your dev.
//  @import "global/breakpoint_hint";
