// Needed variable for sass
$fdsu-add-to-calendar: "\2605";
$fdsu-envelope: "\e0eb";
$fdsu-bubble: "\e15f";
$fdsu-binoculars: "\e1b5";
$fdsu-search: "\e1b6";
$fdsu-search-2: "\e1b7";
$fdsu-search-shade: "\e1bb";
$fdsu-arrow-right: "\e3b5";
$fdsu-googleplus-box: "\e495";
$fdsu-github: "\e4ba";
$fdsu-github-box: "\e4bb";
$fdsu-yahoo: "\e4c4";
$fdsu-tux: "\e4c5";
$fdsu-apple: "\e4c6";
$fdsu-finder: "\e4c7";
$fdsu-android: "\e4c8";
$fdsu-windows: "\e4c9";
$fdsu-windows8: "\e4ca";
$fdsu-skype: "\e4cd";
$fdsu-html5: "\e4eb";
$fdsu-css3: "\e4ec";
$fdsu-chrome: "\e4ed";
$fdsu-firefox: "\e4ee";
$fdsu-IE: "\e4ef";
$fdsu-opera: "\e4f0";
$fdsu-safari: "\e4f1";
$fdsu-close: "\e900";
$fdsu-si-comm: "\e901";
$fdsu-info: "\e902";
$fdsu-info-2: "\e903";
$fdsu-chevron: "\e904";
$fdsu-ical: "\e905";
$fdsu-arrow: "\e906";
$fdsu-comment: "\e907";
$fdsu-share: "\e908";
$fdsu-facebook: "\e909";
$fdsu-facebook-box: "\e90a";
$fdsu-instagram-box: "\e90b";
$fdsu-instagram: "\e90c";
$fdsu-linkedin: "\e90d";
$fdsu-linkedin-box: "\e90e";
$fdsu-twitter: "\e90f";
$fdsu-twitter-box: "\e910";
$fdsu-youtube-box: "\e911";
$fdsu-youtube: "\e912";
$fdsu-calendar: "\e913";
$fdsu-cloud: "\e914";
$fdsu-rss-box: "\e916";
$fdsu-si-comp: "\e921";
$fdsu-si-infrastructure: "\e927";
$fdsu-si-professionals: "\e928";
$fdsu-si-security: "\e929";
$fdsu-si-teach: "\e92a";
$fdsu-snapchat: "\e917";
