
// Additional variables  FROM _content_types

%ct_box {
  // padding: 0.5rem;
  // margin-bottom: 0.75rem;
  // margin-top: 0.74rem;
  // border: solid 1px $uw-light-shade-colour;

  @include media($small-screen) {
    min-height: 30rem;
  }


  @include media($medium-screen) {
    min-height: 0rem;
  }


  @include media($large-screen) {
    min-height: 30rem;
  }
}

%ct_box_remove {
  padding: inherit;
  margin-bottom: inherit;
  margin-top: inherit;
  border: none;

  @include media($small-screen) {
    min-height: inherit;
  }


  @include media($medium-screen) {
    min-height: inherit;
  }


  @include media($large-screen) {
    min-height: inherit;
  }
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Page Loader */
//.js body.loading::before {
//	content: '';
//	position: fixed;
//	z-index: 100;
//	top: 0;
//	left: 0;
//	display: flex;
//	width: 100%;
//	height: 100%;
//	text-align: center;
//	background: #222;
//  opacity:1;
//  @include uw-transition($delay: 0ms, $duration: 250ms, $timing: "easeIn", $property: (opacity));
//
//}
//.js .loading::after {
//	content: '';
//	position: fixed;
//	z-index: 10000;
//	top: 50%;
//	left: 50%;
//	width: 50px;
//	height: 50px;
//	margin: -25px 0 0 -25px;
//	pointer-events: none;
//	background: #FDD54F;
//	animation: loaderAnim 0.8s ease-out infinite alternate forwards;
//}

@keyframes loaderAnim {
	to {
		transform: translate3d(0,-100px,0);
	}
}




//
:not(.js) .block-uw-social-media-sharing .content ul.share-buttons{
  -webkit-filter:
    grayscale(100%); /* Safari 6.0 - 9.0 */
  filter:grayscale(100%);
}

.text{
  &-center{
    text-align: center!important;
  }
  &-right{
    text-align: right!important;
  }
  &-left{
    text-align: left!important;
  }
}
