%button {
  @include appearance(none);

  -webkit-font-smoothing: antialiased;
  background-color: $gray;
  border-radius: none;
  border: none;
  cursor: pointer;
  font-family: $font-bg-cond-book;
  letter-spacing:0.055rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 18.125rem;
  margin: 0 auto;
  color: $white;
  font-size: modular-scale(1);

  // padding: 0.7rem 1.5rem;
  @include media($small-screen) {
    // font-size: modular-scale(2);
    // padding: 0.8rem 1.85rem;
  }
  @include media($medium-screen) {
    // font-size: modular-scale(3);
    // padding: 1rem 2rem;
  }
  &:hover,
  &:focus {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

    background-color: $lighter-gray;
    color: $dark-gray;
    outline: none;
  }

  &:focus {
    outline: inherit;
  }

  &:active {
    background-color: $lighter-gray;
    color: $dark-gray;
  }

  .views-submit-button & {
    &:disabled {
      cursor: not-allowed;
      opacity: 1;
      display: inline-block;
    }
  }

  &:disabled {
    cursor: not-allowed;
    display: block;
     opacity: 0.5;
  }
}
.small-button{
    padding: 0.3rem;
    font-size: modular-scale(-2);
    max-width:50%;
}
.medium-button{
    padding: 0.5rem;
    font-size: modular-scale(-1);
    max-width:70%;
}

#{$all-button-inputs},
button,
a.button,
.button,
.stories_rss_link a,
.read-more-link a {
  @extend %button;
  text-align:center;
  #block-uw-ct-person-profile-person .views-row &{
    @extend .medium-button;
    text-align:center;
  }
  .owl-pagination & {
    padding: inherit;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    color: $base-button-color;
    font-size: modular-scale(1);

    &:hover {
      background-color: transparent;

    }
  }

  .owl-buttons & {
    padding: inherit;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    color: $base-button-color;
    font-size: modular-scale(1);
  }

  .uw-site-footer1--contact & {
    background: transparent;
    border-top: 1px solid lighten($gray, 10%);
    border-bottom: 1px solid lighten($gray, 10%);
    color: $white;
    position: relative;

    &:after {
      position: absolute;
      top: 40%;
      left: 75%;
      z-index: 2;
      display: block;
      content: $fdsu-arrow;
      font-family: $fdsu-icon-font;
      color: $white;
      font-size: modular-scale(-2);
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1) rotate(90deg);
      -ms-transform: scale(1, 1) rotate(90deg);
      transform: scale(1, 1) rotate(90deg);
      text-align: center;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
    }

    &:active {
      &:after {
        color: #666;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    &:hover {
      &:after {
        color: #666;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    .site-footer-toggle & {
      &:after {
        -webkit-font-smoothing: antialiased;
        -webkit-transform: scale(1, -1) rotate(90deg);
        -ms-transform: scale(1, -1) rotate(90deg);
        transform: scale(1, -1) rotate(90deg);

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    &:hover {
      color: #666;
      outline: none;
      background-color: $neutral;
      border-top: 1px solid darken($gray, 5%);
      border-bottom: 1px solid darken($gray, 5%);

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
    }

    &:focus {
      outline: none;
    }
  }

  &.ct-filters {
    &--filter {
      max-width: 100%;
      height: 3.563rem;
      padding: 1rem 0rem;

      @include media($medium-screen) {
        padding: 1rem 2rem;
      }


      // color:$uw-black;
      &:hover {
        color: $dark-gray;
        background-color: $lighter-gray;
      }
    }

    &--close {
      color: $white;
      text-decoration: none;
      position: absolute;
      flex: none;
      background-color: transparent;
      right: 0;
      top: 0;
      width: auto;
      max-width: inherit;
      padding: 0.5rem 0;

      @include media($small-screen) {}


      @include media($large-screen) {}


      &:before {
        font-family: $fdsu-icon-font;
        content: $fdsu-close;
        font-size: modular-scale(4);
        padding: 0.5rem;
      }

      &:hover {
        &:before {
          text-decoration: none;
          color: $black;
          background-color: $yellow-dark;
          padding: 0.5rem;
        }
      }
    }
  }
  #uw-header-nav-button & {
  background-color: inherit;
  border-radius: none;
  border: none;
  cursor: pointer;

  letter-spacing:0.055rem;
  text-transform: uppercase;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  height:0;
  position:absolute;
  bottom:0;
  left:0;
  max-width:inherit;
  margin: 0 auto;
  color: $white;

  }
  .uw-site-sidebar--wrapper & {
    max-width: 100%;
  }

  .expandable & {
    white-space: normal;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    height: auto;
    min-height: 3.563rem;
  }

  .views-summary-unformatted & {
    font-size: modular-scale(0);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: $tab-bg-color;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: inline-block;

    &:hover {
      // color:$white;
      background: $tab-bg-active;
    }
  }

  .owl-pagination & {
    padding: inherit;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    color: $white;
    font-size: modular-scale(1);
    background:transparent;
    &:hover {
      background-color: transparent;
    }
  }

  .owl-buttons & {
    padding: 0.75rem;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    color: $white;
    font-size: modular-scale(1);
    margin:0 0.5rem;
    &:hover,
    &:focus{
      color:$dark-gray;
    }
  }
}
