/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties:
org_default $uw-black $uw-black $dark-gray url("../images/rwd-home/chevrons-yellow.png") $medium-gray org_default_bg $uw-gold #fffaaa #e4b429 #fdd54f #e4b429,
org_ahs $uw-ahs $uw-ahs-light darken($uw-ahs, 9%) url("../images/rwd-home/chevrons-teal.png") $uw-ahs org_ahs_bg $uw-ahs-light #97DFEF #00BED0 #0098A5 #005963,
org_art $uw-arts $uw-arts-light darken($uw-arts, 5%) url("../images/rwd-home/chevrons-orange.png") $uw-arts org_art_bg $uw-arts-light #FFD5A5 #FBAF00 #E78100 #D93F00,
org_eng $uw-engineering $uw-engineering-light darken($uw-engineering, 5%) url("../images/rwd-home/chevrons-purple.png") $uw-engineering org_eng_bg $uw-engineering-light #D0B4EF #BE33DA #8100B4 #57058B,
org_env $uw-environment $uw-environment-light darken($uw-environment, 5%) url("../images/rwd-home/chevrons-green.png") $uw-environment org_env_bg $uw-environment-light #DAF582 #BED500 #B4BE00 #607000,
org_mat $uw-math $uw-math-light darken($uw-math, 5%) url("../images/rwd-home/chevrons-pink.png") $uw-math org_mat_bg $uw-math-light #FFBEEF #FF63AA #DF2498 #C60078,
org_sci $uw-science $uw-science-light darken($uw-science, 5%) url("../images/rwd-home/chevrons-blue.png") $uw-science org_sci_bg $uw-science-light #B4D5FF #63A0FF #0073CE #0033BE,
org_school $uw-school $uw-schools-light darken($uw-school, 5%) url("../images/rwd-home/chevrons-red.png") $uw-school org_school_bg $uw-schools-light #FFA5AA #E41740 #B71233 #80001F,
org_cgc $uw-cgc $uw-conrad-light darken($uw-cgc, 5%) url("../images/rwd-home/chevrons-cgc.png") $uw-cgc org_cgc_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_ren $uw-ren $uw-renison-light darken($uw-ren, 5%) url("../images/rwd-home/chevrons-ren.png") $uw-ren org_ren_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_stj $uw-stj $uw-st-jeromes-light darken($uw-stj, 5%) url("../images/rwd-home/chevrons-stj.png") $uw-stj org_stj_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_stp $uw-stp $uw-st-pauls-light darken($uw-stp, 5%) url("../images/rwd-home/chevrons-stp.png") $uw-stp org_stp_bg #fff #FFA5AA #E41740 #B71233 #80001F;

body{
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
      h1, h2, h3, h4, h5, h6 {
        color: $black;

      }
      &.front .uw-site--header a{
        color:$white !important;
      }
      span.article-date {
        color:nth($faculty, 2);
        background-color:nth($faculty, 8);
      }
      .content__button a{
        color:#fff;
      }
      .uw_stories_sticky .uw_ct_story{
          a {
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
              background:$black;
              picture{
                opacity:1;
              }
              h2{
                color:$white;
              }
              p{
                color:$lighter-gray;
              }

          &:link {
           picture{
              opacity:1;
            }
            h2{
              color:$white;
              }
              p{
                color:$lighter-gray;
              }
                 // color:$light-gray;
          }
          &:focus {
            color:$light-gray;
             // color: $gray;
          }
          &:hover {
            background:$uw-gold;
            span.article-date {
             @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
              background:$black;
              color:$uw-gold;
            }
            picture{

            }
            h2{
              color:$black;
              }
              p{
                color:$black;
              }
              // color: $gray
          }
        }
      }
      .uw_stories_sticky .uw_ct_story a h2{
         color: $white;
      }
      .rss_link,
      .stories_rss_link,
      .feed-icon,
      .read-more-link,
      .home-listing-block-more-link,
      .pager-load-more {
        a {
          color: $white;
          &:visited {
            // color: $dark-gray;
          }
          &:link {
            // color: $white;
          }
          &:focus {
             color: $dark-gray;
          }
          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }
}
/* Any div element classed with the school/dept prefix inside the story itself */
.node-type-uw-stories {
  div {
    @each $faculty in $faculties {
      &.#{nth($faculty, 1)} {
        color:nth($faculty, 2);
        &.field-item{
          margin:0.15rem 0;
          a {
            color:$white;
            background-color:nth($faculty, 2);
            &:visited {
            }
            &:link {
            }
            &:focus {
            color:nth($faculty, 2);
            background-color:nth($faculty, 8);
            }
            &:hover {
            color:nth($faculty, 2);
            background-color:nth($faculty, 8);
            }
          }
        }
      }
      &.#{nth($faculty, 7)} {
        background-color:nth($faculty, 2);
      }

      .field-name-field-topics-societal-relevance{
        .field-item{
          margin:0.15rem 0;
          a {
            color:$black;
            background-color:$uw-gold;
            &:visited {
            }
            &:link {
              color:$black;
              background-color:$uw-gold;
            }
            &:focus {
              color:$uw-gold;
              background-color: $black;
            }
            &:hover {
              color:$white;
              background-color:$black;
            }
          }
        }
      }
      .field-name-field-topics-strategic-alignment{
        .field-item{
          margin:0.15rem 0;
          a {
            color:$uw-gold;
            background-color:$black;
            &:visited {
              opacity:0.8;
            }
            &:link {
              color:$uw-gold;
              background-color:$black;
            }
            &:focus {
              color:$black;
              background-color:$uw-gold;
            }
            &:hover {
              color:$black;
              background-color:$uw-gold;
            }
          }
        }
      }
    }
  }
}
