
// layout of global elements
html,body{
  height:100%;
  margin:0;
  padding:0;

  // @include media($large-screen) {
  //   overflow-x:hidden;
  // }
}
.sotu-waves,
.sotu-full-images{
  text-align:center;
  &.p1{
    padding:1rem;
  }
  &.p2{
    padding:2rem;
  }
  &.uw-gold{
    background-color:$uw-gold;
  }
  &.uw-black{
    background-color:$uw-black;
  }
  &.darkest-gray{
      background-color:$uw-primary-colour;
  }
  &.dark-gray{
      background-color:$dark-gray;
  }
  &.gray{
      background-color:$gray;
  }
  &.light-gray{
      background-color:$light-gray;
  }
  &.white{
      background-color:#fff;
  }
  @include media($large-screen) {
    margin-left:-100%;
    margin-right:-100%;
    img{
      width:auto;

      &.fifty{
        height:50rem;
      }
      &.one{
        height:100rem;
      }
      &.two{
        height:200rem;
      }
    }
  }
}

#uw-header-content,
#uw-header-logo{
  .front &{background:none;}
}
#uw-header,
.uw-header{
  .front &{
    display:block;
    width:100%;
    z-index: map-get($zindex, modal);
    // position: fixed;
    padding: 0 0 0 .8rem;
    height:auto;

    background:none;
    @include media($medium-screen) {
        display:none;
    }
  }

}
// .uw-header--global {padding: 0 0 0 .8rem;}
.uw-section {
  &--inner {
    .uw-sotu-footer &{
        @include outer-container(100%);
    }
    .uw-header--global &{
        position:relative;

      .front .uw-header--global &{
        @include outer-container(100%);

          background-color:none;
          padding: 0rem;
      }
    }
    .uw-stories--main & {
      @include outer-container(100%);
      position: relative;
      padding: 0;
      .front &{
            // margin-bottom:2rem;
      }
    }
  .uw-site--main &{
        @include outer-container(100%);
          overflow:hidden;
          background-image:url('../images/pattern-800.jpg');
          background-size:contain;
          background-repeat:no-repeat;
          background-position:top center;
         .front &{
            height:100%;
            padding-top:3rem;
            min-height:800px;
            //background-image:url('../images/pattern.png');
           background-image:none;
            background-size:100%;
            background-position:-37rem -10rem;
         }
         @include media($large-screen) {
           background-image:url('../images/pattern-1440.jpg');
           .front &{
             //background-image:url('../images/pattern.png');
             background-image:none;
             min-height:1000px;
           }
             // background-size:cover;
         }
         @include media($xxlarge-screen) {
             background-image:url('../images/pattern-2000.jpg');
             .front &{
               //background-image:url('../images/pattern.png');
               background-image:none;
             }
         }
    }
    .presidents-message &{
      @include media($large-screen) {
          padding-top:4rem;
      }

      background-image:url('../images/pattern.png');
      background-size:100%;
      background-position:-37rem -10rem;
    }
    .uw-site--tag & {
      @include outer-container(100%);
    }
    .uw-site--watermark &{

          padding: 0;
          background-image:none;
          opacity:1;
    }
    .uw_stories_sticky &{
        @include outer-container(100%);
        padding: 0;
    }
  }

}
.uw-site {
  @include outer-container(100%);
  &--inner {
  // Create 0 0 coordinates for absoluteley positioned
  // at top left of the uw-site-inner.
  position:relative;
  }
  &--skip{
  }
  &--header{
    background-color: $site-header-bg;
    width:100%;
    z-index: map-get($zindex, dropdown);
    .front & {
      background-color:rgba(0,0,0,0.8);
      padding:0;
      min-height:inherit;
      @include media($medium-screen) {
        position: fixed;
        top:0;
        left:0;

        height:3rem;
      }

    }
  }
  &--colors{
    .front &{

      @include media($medium-screen) {
        position:fixed;
        top:2rem;
        left:0;
        width:100%;
        z-index: map-get($zindex, overlay);
        @include boxShadowColor(4px, 8px, 6px, -6px,rgba(0,0,0,0.92));
      }

    }
  }
  &--off-canvas{
    .front & {
      // top:5rem;

    }
    @include media($medium-screen) {

        top:inherit;
    }

  }
  &--featured-stories{
    // display:none;
  }
  &--logo{
    .front &{

      display: none;

      @include media($small-screen) {

      }
      @include media($medium-screen) {
        display: block;
        position:absolute;
        height:5rem;
        width:18rem;
        bottom:3rem;
        right:1rem;
        z-index:5;
        outline:none;

        //background-color:rgba(0,0,0,0.2);
        //background-image:radial-gradient(
        //  circle at center,
        //  #000 0,
        //  rgba(0,0,0,0.85) 20%,
        //  transparent 85%);

      }
      @include media($xlarge-screen) {

        bottom:3rem;
        right:2rem;
      }
      @include media($xlarge-screen) {

        bottom:3rem;
        right:2rem;
      }
      @include media($xxlarge-screen) {

        bottom:3rem;
        right:2rem;
      }
      .uw-site--boxlogo{
        display: block;
        height:100%;
        outline:none;
        text-indent: -9999rem;
        background: url("../images/uwaterloo-logo.svg") no-repeat 50% 50% ;
        background-size: contain;
      }
    }

  }
  &--main{
    @include outer-container(100%);
  }
  &--main-top {
    max-width:63.125rem;
    margin:0 auto;
    float:none;
    width:100%;
    &:last-child{
      margin:inherit;
    }
    .uw-site--sotu &{
      @include media($medium-screen) {

      }
    }
  }
  &--messages{

  }
  &--help{

  }
  &--breadcrumb{

  }
  &--title{

  }
  &-admin--tabs{

  }
  &-navigation {
    .uw-site--sotu &{
    display:none;
    }
  }
  &-main--content{
    max-width:63.125rem;
    margin:0 auto;
    float:none;
    width:100%;
    &:last-child{
      margin:inherit;
    }


    @include media($medium-screen) {
      .uw-site--sotu &{
         width:100%;
      }
    }
    @include media($large-screen) {
      .uw-site--sotu &{
          width:100%;
        }
      }
  }
  &-content {
    .uw-site--sotu &{
      @include span-columns(12 of 12);
      @include omega;
    }
    @include media($medium-screen) {
      .uw-site--sotu &{
        @include span-columns(12 of 12);
      }
    }
    @include media($large-screen) {
      .uw-site--sotu &{
        @include span-columns(12 of 12);
        @include omega;
      }
    }
  }

  &-sidebar {
  }
  &--watermark {
  display:block;
    h2{

    }
  }
  &-footer {

  }
  &-share {

  }
}
.front .uw-site--main {
  // min-height:0!important;
  // max-height:0!important;
}
  // allow taxonomy in the stories website to display the sidebar
body.page-taxonomy .uw-site--sotu {
  .uw-site--main .uw-section--inner {
    background-image:none;
  }
  .uw-site-content{
     @include span-columns(12 of 12);
     @include omega;
     @include media($medium-screen) {
        @include span-columns(12 of 12);
        @include omega;
      }
   }
  }
.uw-header--global{
  width:100%;
}
.front .uw-sotu-sidebar{
  display:none!important;
}