@media print {
  #site, #main, #content, #site-sidebar {
    width: 100%;
    border: none;
    border-style: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    float: none;
  }

  /* Don't print the:
  * Toolbar, Site Header/Navigation, Site Sidebar, Site Footer, Breadcrumbs, Node Tabs, Workbench Info Block, Social Media Service Links, Preview Toggle
  */
  .region-page-top,
  #toolbar,
  #skip,
  #header,
  #site-navigation,
  .messages,
  .element-invisible,
  .breadcrumb,
  .node-tabs,
  .region-sidebar-second,
  .workbench-info-block,
  .service-links,
  #site-sidebar,
  #footer,
  .cas_login,
  a[href="#toggle-revision-elements"] {
    display: none;
  }

  #content h1 {
    margin-top: 0;
  }

  /*main container styles*/
  h1 {
    font-size: 2rem;
    margin: 0 0 0.4rem;
  }

  h2 {
    font-size: 1.3rem;
    border-bottom: none;
  }

  h3 {
    color: #555;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    margin: 0 0 1rem;
  }
}
