$uw-primary-colour: #252525;

/* nearly black */
$uw-highlight-colour: #FCE082;

/* pale yellow */
$uw_header_background_colour: #000000;

/* black */
$uw_header_border_colour: #000000;

/* black */
$uw-dark-shade-colour: #757575;

/* dark grey */
$uw-light-shade-colour: #EEEEEE;

/* light grey */
$link-colour: #428BCA;

/* blue; copied from library - not final */
$border-colour: #CCCCCC;

/* arbitrary grey - not final */
$button-colour: #DDDDDD;

/* arbitrary lighter grey - not final */
$how-far-down-with-admin: 216px;
$navbar-height: 39px;
$how-far-down-without-admin: 177px;

$site-inner-padding:2rem 0.8rem;
$site-inner-padding-nolr:2rem 0rem;
$site-search-button-width: 8.648rem;
$site-global-header-height: 4.375rem;
$site-header-height: 3.438rem;

$prefix-for-webkit: true;
$prefix-for-mozilla: true;
$prefix-for-microsoft: true;
$prefix-for-opera: true;
$prefix-for-spec: true;
// // Typography
// // Typography
$font-bg-book:'BureauGrot Book',verdana,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg-condbold:'BureauGrotCond',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg-cond-book:'BureauGrotCond Book',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg:'BureauGrot',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg-wide:'BureauGrotWide',impact,'avenir next condensed heavy','Droid Sans',sans-serif;


$font-1451-bold:'Typ1451-Bold',verdana,sans-serif;
$font-1451-medium:'Typ1451-Medium',verdana,sans-serif;
$font-1451-regular:'Typ1451-Regular',verdana,sans-serif;
$font-1451-light:'Typ1451-light',verdana,sans-serif;

$font-georgia:georgia,'droid serif','Times New Roman', Times, serif;


$base-font-family: $font-georgia;
$base-button-font-family: $font-bg-cond-book;
$serif-font-family: $font-georgia;
$heading-font-family: $font-bg-condbold;
$heading-font-family-regular:$font-bg-cond-book;
$heading-font-family-light: $font-1451-light;
$condensed-font-family: $font-bg-cond-book;
$condensed-Book-font-family: $font-bg-cond-book;
$fdsu-icon-font: "fdsu-rwd";


// $base-font-family: "Open Sans", Verdana, sans-serif;
// $serif-font-family: "Times New Roman", Times, georgia, sans-serif;
// $heading-font-family: "Open Sans Condensed", "arial narrow", Verdana, sans-serif;
// $condensed-font-family: "Open Sans Condensed Bold", "arial narrow", Verdana, sans-serif;
// $fdsu-icon-font: "fdsu-rwd";

//Weights
$weight-hairline: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
$weight-semi-bold: 600;
$weight-extrabold: 700;
$weight-black: 800;

// // Font Sizes

$base-font-size: 1rem;
$p-font: 1rem;
$p-lead-font: 1.25rem;

// // Modular scale
$modular-scale-ratio: $major-second;
$modular-scale-base:rem(16);
// // Line height

$base-line-height: 1.4;
$heading-line-height: 1.25;
$cta-big-line-height: 1.2;

// // Other Sizes

$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// //uwm custom

$white: #ffffff;
$black: #000000;//bmd
$dark-gray: #4e4e4e; //WCAG AA
$gray:  #757575;//bmd
$medium-gray: #A2A2A2;//bmd
$light-gray: #DFDFDF;//bmd
$lighter-gray: #eee;//WCAG AA
$lightest-gray:#fafafa;
$sidebar-gray-bg:#f7f7f7;
$visited-gray:$gray;
$visited-purple:#551A8B;

$yellow: #FCE082;
$yellow-dark: #FFD54F;
$uw-red: #96172E;
$primary-yellow-color: #FCE082;
$secondary-yellow-color: #FFD54F;
$entry-bg-color: #e0e0e0;


// //colors names

$uw-black: #000000;
$uw-gray: #757575;
$uw-gold: #FDD54F;
$uw-white: #ffffff;

// //colors for faculties

$faculty-color: #757575;
// $uw-default: $uw-gray;
// $uw-ahs: #0098A5;
// $uw-arts: #D93F00;
// $uw-engineering: #57058B;
// $uw-environment: #607000;
// $uw-math: #df2498;
// $uw-science: #0073ce;
// $uw-school: #80001F;
// $uw-cgc: #C4262E;
// $uw-ren: #00693C;
// $uw-stj: #01573E;
// $uw-stp: #879637;
// $neutral: #eee;

// uw-light-colors

// $uw-uwaterloo-light: #FCD450;
// $uw-ahs-light: #97DFEF;
// $uw-arts-light: #FFD5A5;
// $uw-engineering-light: #D0B4EF;
// $uw-environment-light: #DAF582;
// $uw-math-light: #FFBEEF;
// $uw-science-light: #B4D5FF;
// $uw-conrad-light: #E8878C;
// $uw-renison-light: #7FB49D;
// $uw-st-jeromes-light: #92B7AC;
// $uw-st-pauls-light: #C2CD79;
// $uw-schools-light: #FFA5AA;

// // sotu colors for faculties

$uw-default: $uw-gray;
$uw-ahs: #0098A5;
$uw-arts: #D93F00;
$uw-engineering: #57058B;
$uw-environment: #607000;
$uw-math: #df2498;
$uw-science: #0073ce;
$uw-school: #80001F;
$uw-cgc: #C4262E;
$uw-ren: #00693C;
$uw-stj: #01573E;
$uw-stp: #879637;
$neutral: #eee;

// uw-light-colors

$uw-uwaterloo-light: #FCD450;
$uw-ahs-light: #97DFEF;
$uw-arts-light: #FFD5A5;
$uw-engineering-light: #D0B4EF;
$uw-environment-light: #DAF582;
$uw-math-light: #FFBEEF;
$uw-science-light: #B4D5FF;
$uw-conrad-light: #E8878C;
$uw-renison-light: #7FB49D;
$uw-st-jeromes-light: #92B7AC;
$uw-st-pauls-light: #C2CD79;
$uw-schools-light: #FFA5AA;




$sotu-teal:#007083;
$sotu-orange:#F26721;
$sotu-purple:#3D1865;
$sotu-green:#8D941E;
$sotu-fushia:#B9006D;
$sotu-blue:#0C489C;
$sotu-red:#9D053B;



// // Font Colors

// // $base-background-color: $white;
$base-font-color: $black;
$base-header-color: #111;
$action-color: $faculty-color;
$link-color: $uw-default;

//Element colors
$base-background-color: $white;
$body-bg-color: $white;
$site-global-header-bg: $uw-black;
$site-footer-bg: $dark-gray;
$site-global-footer-bg: $uw-black;
$site-header-bg: $lighter-gray;
$base-button-bg-color: $lighter-gray;
$base-button-color: $dark-gray;
$tab-bg-color: $medium-gray;
$tab-bg-active: $dark-gray;
$tab-active: $gray;
$base-button-color: $dark-gray;
// // Border

$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$text-shadow:0px 0px 1px rgba(0,0,0, 1);
$text-shadow-hover:0px 1px 1px rgba(0,0,0, 0);
$zindex: (
    modal     : 10,
    overlay   : 9,
    menu      : 8,
    logo      : 8,
    dropdown  : 7,
    mobilemenu: 6,
    interact  : 5,
    hero      :5,
    header    : 4,
    footer    : 4,
    content-hero: 4,
    content   : 3,
    slides    : 2,
    wrapper   : 2,
    background: 1,
);
