body {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {
  .uw-sotu .article-info &{
    line-height: 0.95;
    font-family:$heading-font-family;
    font-size: modular-scale(6);
    text-transform:uppercase;
    position:relative;
    @include media($small-screen) {
    font-size: modular-scale(8);
    }
    @include media($large-screen) {
      font-size: modular-scale(13);
    }
    @include media($xlarge-screen) {
      font-size: modular-scale(14);
    }
    @include media($xxlarge-screen) {
      font-size: modular-scale(15);
    }
    @include media($onek-screen) {
      font-size: modular-scale(16);
    }
  }
  font-size: modular-scale(5);
  font-family: $condensed-Book-font-family;
  body.org_default.front .uw-stories--main .uw-site-—title &{
    font-size: modular-scale(10);
    color:#fff;
    font-family:$heading-font-family;
    text-transform:uppercase;
    line-height: 0.95;
    text-align: left;
  }

  @include media($medium-screen) {
    font-size: modular-scale(8);
    body.org_default.front .uw-stories--main .uw-site-—title &{
      font-size: modular-scale(18);
      color:#fff;
      font-family:$heading-font-family;
    }

  }
}
.uw-stories--main .uw-site-—title{
  width:100%;
  &::before{
    border-bottom:2px solid #fff;
    font-family: $font-1451-medium;
    font-size:modular-scale(-2);
    @include media($medium-screen) {
        font-size:modular-scale(1);
    }
    @include media($large-screen) {
        font-size:modular-scale(1);
    }

    text-transform:uppercase;
    color:#fff;
    letter-spacing:2px;
  }
}
h2 {
  .uw_stories_sticky .article-hp &{
    font-size: modular-scale(1);
    line-height: 1.2;
  }
  .uw_stories_non_sticky .article-hp &{
    font-size: modular-scale(2);
  }
  .entity-paragraphs-item:first-child &{
    font-size: modular-scale(4);
  }
  &.article-title{
    font-size: modular-scale(2);
  }
  span{
    display:block;
  }
  &.uw_sotu_h2{
    line-height: 0.95;
    font-family:$heading-font-family;
    font-size: modular-scale(6);
    text-transform:uppercase;
    position:relative;
    z-index:0;
    .opinion{
      z-index:2;
      position:relative;
    }
    .opinion-bg{
        display:block;
        position:absolute;
        z-index:1;
        height:78%;
        width:100%;
        background:$uw-gold;
        // margin-right:-50%;
        // margin-left:-50%;
        width:100%;
        left:0;
        top:11%;
        left:-10%;
        right:-10%;
      }
    @include media($small-screen) {
    font-size: modular-scale(8);
    }
    @include media($large-screen) {
      font-size: modular-scale(13);
    }
    @include media($xlarge-screen) {
      font-size: modular-scale(14);
    }
    @include media($xxlarge-screen) {
      font-size: modular-scale(15);
    }
    @include media($onek-screen) {
      font-size: modular-scale(16);
    }
  }
}
h3 {
  &.uw_sotu_h3{
  line-height: 0.95;
  font-family:$heading-font-family;
  font-size: modular-scale(4);
  text-transform:uppercase;
  position:relative;
  z-index:0;
  .uw-sotu-footer_left &{
    text-align:center;
  }
  @include media($medium-screen) {
  font-size: modular-scale(6);
  }
  @include media($xlarge-screen) {
    font-size: modular-scale(10);
  }
  @include media($xxlarge-screen) {
    font-size: modular-scale(12);
  }
  @include media($twok-screen) {
    font-size: modular-scale(13);
  }

  }
}
h4 {}
h5 {}
h6 {}
p {
  font-size: modular-scale(1);
  .node-type-uw-web-page{
  }
  .sotu-hero-overlay &,
  .article-caption &{
    font-family:$font-bg;
    font-size: modular-scale(-1);
    font-weight: $weight-light;
    line-height: 1.45;
    text-align:left;
    color:$white;
  }
  .field-name-field-subhead &{
    font-size: modular-scale(3);
    line-height: 1.2;
    color: $gray;
  }
  .uw_stories_sticky .field-name-field-subhead & {
    color:$gray;
    font-size: modular-scale(-2);
    line-height: 1.2;
    @include media($xlarge-screen) {
      font-size: modular-scale(-1);
      }
    }
    .stories-related-item &{
        font-size: modular-scale(0);
      }
    }
.caption {
  background:$lighter-gray;
  border: solid 0px transparent;
  font-size: modular-scale(-1);
  color: $black;
  font-family: $font-1451-regular;
  strong{
    font-family: $font-1451-bold;
  }
}
a {
  @include transition(color 0.3s linear);
  &:link,
  &:active {
    text-decoration: underline;
  }
  &:visited{}
  &:hover {
    @include transition(color 0.3s linear);
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted;
    @include transition(color 0.3s linear);
    text-decoration: none;
  }
  .related-stories .related-story &{
    font-family: $condensed-font-family;
    font-weight: $weight-regular;
    line-height: $heading-line-height;
    text-decoration:none;
    font-size: modular-scale(2);
    &:hover,
    &:focus{
      text-decoration:underline;
    }
    &.active{

    }
  }
  .uw_stories_sticky .uw_ct_story & {
    height:100%;
    &:link,
    &:active {
      text-decoration:none;
    }
    &:hover {
      @include transition(color 0.3s linear);
      background:$uw-gold;
    }
    &:focus {
      outline: thin dotted;
      @include transition(color 0.3s linear);
    }
  }
  .uw_stories_non_sticky .uw_ct_story & {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
    height:100%;
    &:link,
    &:active {
      text-decoration:none;
      span.article-date{
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      }
    }
    &:hover {
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      span.article-date{
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        background:$black;
        color:$uw-gold;
      }
    }
    &:focus {
      outline: thin dotted;
      @include transition(color 0.3s linear);
    }
  }
  .field-name-field-topics-area .field-items .field-item &,
  .field-name-field-topics-societal-relevance .field-items .field-item & ,
  .field-name-field-topics-strategic-alignment .field-items .field-item & {
    font-size: modular-scale(-3);
    font-family:$font-1451-medium;
    font-weight:medium;
    text-decoration:none;
    text-transform:uppercase;
    display:inline;
    line-height: 1;
    padding-left: 0;
  }
  .views-summary-unformatted & {
    font-size: modular-scale(0);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: $tab-bg-color;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: inline-block;
    &:hover {
      // color:$white;
      background: $tab-bg-active;
    }
  }
  .page-taxonomy .pager li &{
    font-size: modular-scale(-1);
    text-transform: uppercase;
    font-family:$font-1451-medium;
  }
  .stories_rss_link & {
    @extend %button;
    max-width: 100%;
    text-align: center;
    position: relative;
    text-decoration: none;
    border: solid transparent 0px;
    &.rss{
      padding-left: 1rem;
    }
    &:hover {
      // background-color: $dark-gray;
      text-decoration: none;
    }
    &:focus {
      color: $dark-gray;
    }
  }
}
.stories_featured_img{
  font-size: modular-scale(-3);
  font-family:$font-1451-medium;
  font-weight:medium;
}

img,
picture {
  height: auto;
  max-width: 100%;
  margin: 0;
  border: none;
  outline: none;
  // display:block;
  a & {
    border: none;
    outline: none;
  }
}
span {
  &.uw-site--tag-text{
    font-size:7vh;
    color:$sidebar-gray-bg;
    @include media($large-screen) {
        font-size:10vh;
    }
    @include media($xxlarge-screen) {
        font-size:14vh;
    }
    @include media($onek-screen) {
            font-size:17vh;
    }
    @include media($twok-screen) {
            font-size:20vh;
    }
    font-family:$heading-font-family;
    line-height:0.85;
    text-transform: uppercase;
  }
  .uw-stories--main .uw-site—subtitle &{
    font-family: $condensed-font-family;
    font-size:modular-scale(0);
      letter-spacing:2px;
      text-transform:uppercase;
      color:#fff;
      font-weight:500;

    @include media($medium-screen) {
        font-size:modular-scale(1);

    }
    @include media($large-screen) {
        font-size:modular-scale(1);
    }


  }

  .uw-stories--main &{
    &.uw-site—subtitle{
      margin:0;
      color:#fff;
      display:inline-block;
      padding:0.25rem 1rem;
      background:$black;
      font-family: $condensed-font-family;
      font-size:modular-scale(1);
      text-transform:uppercase;
      color:#fff;
      font-weight:500;
      letter-spacing:2px;
      .node-type-uw-web-page &,
      .page-taxonomy-term &{
        display:none;
      }
    }
  }
  .submitted & {
    font-family: $font-1451-medium;
    font-size: modular-scale(-1);
    text-transform: uppercase;


    &.username {
      text-decoration: none;
      font-size: modular-scale(-1);

      // text-transform: uppercase;
      color: $uw-black;
      margin: 0;
    }

    &.uw-author {
      font-family: $font-1451-medium;

      // @include fontdpi();
      color: $uw-black;
      display: block;
      clear: both;
      font-size: modular-scale(-1);
    }
  }
  &.article-date {
      font-family: $font-1451-medium;
      display: inline-block;
      clear: both;
      font-size: modular-scale(-1);
      padding:0.5rem 4rem 0.5rem 1rem;
      text-transform: uppercase;
      margin:0;
  }
  &.sotu-tag{
      margin:0;
      font-family: $font-1451-medium;
      display:inline-block;
      float:left;
      clear:both;
      font-size: modular-scale(-1);
      padding:0.175rem 0.4rem;
      text-transform: uppercase;
      &.campus-yellow{
            color:$black;
            background:$uw-gold;

      }
      &.campus-black{
          color: $white;
          background:$black;
          margin-bottom:0.4rem;
      }
      &.campus-white{
          color: $white;
          padding-left:0.8rem;
          .uw-site--sotu &{
            color:#000;
          }
          background:transparent;
          position:relative;
          &:before{
            content:'>';
            font-size: modular-scale(0);
            line-height:1rem;
            position:absolute;
            left:0;

          }
      }
  }
}
.uw-site--sotu .content_node
{
  p{
    font-family:$base-font-family;
    font-size: modular-scale(1);
    line-height:1.5;

    .node-type-uw-stories & {
        font-family:$font-bg;
          line-height:1.7;
        font-size: modular-scale(0);
        @include media($medium-screen) {
        font-size: modular-scale(1);
        }
    }
    &.highlight{
      font-family:$base-font-family;
      line-height:1.7;
      color:#000000;
        font-size: modular-scale(1);
        @include media($medium-screen) {
            font-size: modular-scale(3);
          }
      }
    &.caption{
        line-height:1.25;
        background:$lighter-gray;
        border: solid 0px transparent;
        font-size: modular-scale(-1);
        color: $black;
        font-family: $font-1451-regular;
        strong{
          font-family: $font-1451-bold;
        }
    }
  }

}
.uw-site--sotu .uw-sotu-sidebar{
  p{
    font-family:$font-bg;
    font-size: modular-scale(-1);
    line-height:1.25;
  }

}
.page-taxonomy .pager-current{
  font-size: modular-scale(-1);
  text-transform: uppercase;
  font-family:$font-1451-medium;
}
.view-empty{
  .uw_stories_non_sticky &{
    font-weight: $weight-regular;
    color: $uw-black;
    font-size: modular-scale(2);
    line-height: $base-line-height;
    font-family: $font-1451-medium;
    text-align:center;
  }
}
.sotu_themes{
    .black-bg .content__title__inner{
          color:#fff;

      }
    .content__heading {
      font-family:$heading-font-family;
      font-size: modular-scale(10);

    }
    .content__button{
      a
      {
        border-radius: none;
        border: none;
        cursor: pointer;
        font-family: $font-bg-cond-book;
        letter-spacing:0.055rem;
        text-transform: uppercase;
        padding: 1rem 2rem;
        display: inline-block;
        text-decoration: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width:auto;
        text-align:center;
        color: $white;
        font-size: modular-scale(1);
        background-color:$gray;
        &:hover,
        &:focus {
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

          background-color: $lighter-gray;
          color: $dark-gray;
          outline: none;
        }
      }
    }
    .content__title{
      font-family:$heading-font-family;
      text-transform:uppercase;

    }
    .black-bg .content__p-wrap{
        color:#fff;
    }
    .content__p-wrap{
      font-family:$base-font-family;
      font-size: modular-scale(-1);
      @include media($medium-screen) {
      font-size: modular-scale(0);
      }
      @include media($xxlarge-screen) {
        font-size: modular-scale(2);
      }
      text-transform:none;
      // text-align: justify;
    }
    .content__more-wrap{
      span{
        font-size: modular-scale(-2);
        @include media($small-screen) {
          font-size: modular-scale(-1);
        }
        @include media($xlarge-screen) {
          font-size: modular-scale(0);
        }
        @include media($xxlarge-screen) {
          font-size: modular-scale(1);
        }
        @include media($onek-screen) {
          font-size: modular-scale(2);
        }
        text-transform:none;
        font-family:$base-font-family;
        line-height: 1.5;
      }
    }
    .content__title--medium  {
      line-height: 0.95;
      font-family:$heading-font-family;
      font-size: modular-scale(6);
      text-transform:uppercase;
      @include media($small-screen) {
            font-size: modular-scale(8);
        }
      @include media($large-screen) {
        font-size: modular-scale(10);
      }
      @include media($xlarge-screen) {
        font-size: modular-scale(12);
      }
      @include media($xxlarge-screen) {
        font-size: modular-scale(14);
      }
      @include media($onek-screen) {
        font-size: modular-scale(16);
      }
    }

    .content__title--small  {
        font-size: modular-scale(8);
    }
    .content--related{
      h2{

      }

    }
}
.sotu_theme{
  &__content{
      &:nth-child(even){
      }
      @include media($large-screen) {
      }
    }
    &__site-subtitle{
      margin:0;
      color:#fff;
      display:inline-block;
      padding:0.25rem 1rem;
      background:$black;
      font-family: $condensed-font-family;
      font-size:modular-scale(1);
      text-transform:uppercase;
      color:#fff;
      font-weight:500;
      letter-spacing:2px;
    }
    &__content_wrap{
      @include media($large-screen) {
      }
    }
    &__content_title{

      line-height: 0.95;
      font-family:$heading-font-family;
      font-size: modular-scale(6);
      text-transform:uppercase;
        @include media($small-screen) {
              text-align:right;
              font-size: modular-scale(8);
          }
      @include media($large-screen) {
        font-size: modular-scale(13);
      }
      @include media($xlarge-screen) {
        font-size: modular-scale(14);
      }
      @include media($xxlarge-screen) {
        font-size: modular-scale(15);
      }
      @include media($onek-screen) {
        font-size: modular-scale(16);
      }
    }
    &__content_sub{
      span{
        font-size: modular-scale(-2);
        @include media($small-screen) {
          font-size: modular-scale(-1);
        }
        @include media($xlarge-screen) {
          font-size: modular-scale(0);
        }
        @include media($xxlarge-screen) {
          font-size: modular-scale(1);
        }
        @include media($onek-screen) {
          font-size: modular-scale(2);
        }
        text-transform:none;
        font-family: $font-1451-medium;
        line-height: 1.25;
      }
    }
    &__content__p{
      p{
        font-family:$base-font-family;
        font-size: modular-scale(0);
        @include media($medium-screen) {
        font-size: modular-scale(1);
        }
        @include media($xxlarge-screen) {
          font-size: modular-scale(2);
        }
        text-transform:none;
        // text-align: justify;
      }

    }
    &__image_wrap{
      @include media($large-screen) {
      }
    }
    &__image{
    }
    &__image-bg{
      @include media($large-screen) {
      }
    }

}
.uw-sotu-footer{
  .sotu-person-description p.highlight{
    color:#000000;
      line-height:1.7;
    font-size: modular-scale(1);
    @include media($medium-screen) {
          font-size: modular-scale(3);
      }
  }
  &_theme-title{
    font-family:$heading-font-family;
    font-size:modular-scale(3);
    text-transform:uppercase;
    line-height: 1;

  }
  &_theme-location{
  font-family: $font-bg-cond-book;
  font-size:modular-scale(0);
  line-height: 1;
  font-weight:500;
  }
  &_theme-aff{
    line-height: 1.2;
    font-family: $font-bg-condbold;
    font-size:modular-scale(1);
    color:$dark-gray;
    margin:0.125rem 0;
    font-weight:600;
  }
  &_theme-teaser{
    font-family:$font-bg;
    font-size: modular-scale(-1);
  }
}
.article-caption{
  font-family:$font-bg;
  font-size: modular-scale(-1);
  font-weight: $weight-light;
  line-height: 1.45;
  text-align:left;
  color:$white;
}
.lowercase{
  text-transform:lowercase!important;
}
.uppercase{
  text-transform:uppercase!important;
}
.text-transform-none{
    text-transform:none!important;
}
// .copy{
//   font-family: $font-1451-light;
//   display:inline-block;
//   line-height:2;
//     font-size: modular-scale(-1);
// }
