
/* Content */
.sotu_themes {
  display:none;

  .front &{

      display:block;
  }
}
.sotu_themes .content {
	position: relative;
  margin:10vh 0;
  height:100vh;
  &:first-child{
    margin-top:3rem;
  }
  &:nth-child(even){
    background-color:$uw-black;
  }
  @include media($small-screen) {
      margin:3vh 0;
      padding-bottom:20rem;
      background-color:rgba(255,255,255,0.9);
    }
    @include media($medium-screen) {
      &:first-child{
        margin-top:0rem;
      }
      background-color:rgba(255,255,255,0.9);
      height:100vh;
      padding-bottom:0;
    }
    @include media($large-screen) {
      height:100vh;
      margin:10vh 0;

    }
    &:nth-child(even){
      .sotu_theme__image-bg{
            transform:scaleX(-1);
      }

    }
}
.content__p-wrap{
	// width: 70vw;
	// margin:0 auto 8rem auto;
  width:100%;
  // background:$light-gray;
  // padding:1rem;
}


.content--full {
	height: 100vh;
	min-height: 600px;
}

.flexy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.flexy--center {
    justify-content: center;
}

.flexy--row {
	flex-direction: row;
}

.content__heading {
	flex: none;
	width: 100%;


}

.content__heading--center {
	text-align: center;
}

.content__title {
	// font-size: 7.5vw;
	line-height: 1.2;
  // background:white;

  .content__more-wrap{
      @include clearfix();
      padding-bottom:1rem;
    &.left{
      .sotu-tag-bg{
        float:left;
      }
    }
    &.right{
      .sotu-tag-bg{
        float:right;
      }
    }
  }
  .sotu-tag-bg{
    font-family:georgia;
    line-height: 1.5;
    display:inline-block;
    clear:both;
    width:auto;
    margin-bottom:0.1rem;
    background-color:#fdd54f;
    padding:0.5rem 0.25rem;
    span{
      padding:0.5rem 0.25rem;
    }
  }
}
.js .content__title {
  .sotu-tag-bg{
    span{
      padding:0;
      &.block-revealer__content{
        background-color:#fdd54f;
      }
    }
  }
}

.content__title--half {
	width: 100vw;
	z-index: 2;
  @include media($large-screen) {
    width: 49vw;
  }
}

.content__title--enclosed {
	padding: 0;
	margin: 0;
}

.content__title--center {
	margin: auto;
}

.content__title--right {
	text-align: right;
  padding: 0 2vw;
}

.content__title--left {
	// margin-left: -18vw;
  	// margin-left: -6vw;
    padding: 0 2vw;
}

.content__title--medium  {
	// font-size: 6vw;
}

.content__title--small  {
	// font-size: 2vw;
}

.content__title__inner {
	flex: none;
	display: inline-block;
	white-space: nowrap;
	position: relative;
  line-height:1;
}

// .content__title__inner--offset-1 {
// 	top: -0.25em;
// 	left: 13.6vw;
// }
//
// .content__title__inner--offset-2 {
// 	top: -0.25em;
// 	left: 1.75vw;
// }
//
// .content__title__inner--offset-3 {
// 	left: -10vw;
// 	top: -0.25em;
// }

.content__image-wrap {
	flex: none;
  width: 100%;

  @include media($large-screen) {
      width: 25vw;
  }
}

.content__image-wrap--half {
	width:100%;
  @include media($large-screen) {
    	width: 49vw;
  }
}

.content__image {
  @include media($large-screen) {

    width: 100%;
  	display: block;
  }

}
.content__button {

  display: block;


}
.block-revealer__content{
    display:block;
}
.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
  display:inline-block;
}
