.sotu_themes {
  display:none;
  .front &{
    display:block;
  }
  .page-taxonomy-term &{
    &.show{
      display:block;
    }
  }

}
.sotu_theme{
  &__content{
    position: relative;
    z-index:0;
    display: grid;
    display: -ms-grid;
    grid-template-columns:  100%;
    -ms-grid-columns:100%;
    grid-auto-flow: row;
    margin:10vh 0;
    max-width:100%;
    overflow:hidden;
    width :100vw;
    &:first-child{
      margin-top:3rem;
    }
    &:nth-child(even){
      // background-color:$uw-black;
    }
    @include media($small-screen) {
        margin:3vh 0;
        padding-bottom:20rem;
        background-color:rgba(255,255,255,0.9);
      }
      @include media($medium-screen) {
        &:first-child{
          margin-top:0rem;
        }
        background-color:rgba(255,255,255,0.9);
        height:100vh;
        padding-bottom:0;
      }
      @include media($large-screen) {
        height:100vh;
        min-height:62.5rem;
        margin:10vh 0;

      }
      &:nth-child(even){
        .sotu_theme__image-bg{
            transform:scaleX(-1);
        }

      }
    }
  &__site-subtitle{
    position:absolute;

  }
  &__content_wrap{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row: 2;
      -ms-grid-column-span: 1;
      height:auto;
      width:100%;
      z-index:2;
      padding:1rem;
      display: grid;
      display: -ms-grid;
      grid-template-columns:100%;
      -ms-grid-columns:100%;
      grid-auto-flow: row;
      @include media($small-screen) {
        grid-template-columns:49%  49%;
        -ms-grid-columns:49%  49%;
        background-color:rgba(255,255,255,0.9);
        position:absolute;
        bottom:0;
      }
      @include media($medium-screen) {

        display:block;
        bottom:inherit;
        @include align-absolute(10%,20%);
        width:70%;
        padding-right:20rem;
      }
      @include media($large-screen) {
        @include align-absolute(30%,30%);
        width:65%;
        padding-right:20rem;
      }
      @include media($xxlarge-screen) {
        @include align-absolute(40%,40%);
        width:60%;
        padding-right:30rem;
      }
      @include media($onek-screen) {
        @include align-absolute(40%,50%);
        width:60%;
        padding-right:30rem;
      }
      @include media($twok-screen) {
        @include align-absolute(40%,50%);
        width:45%;
        padding-right:30rem;
      }

      .call-to-action-center-wrapper{
        width:100%;

        .call-to-action-theme-uWaterloo{
          border:1px solid $dark-gray;
          outline:none;
        }
        @include media($small-screen) {
          width:70%;
          margin:0 auto;
        }
        @include media($medium-screen) {
          width:50%;
          position:absolute;
          right:0;
          top:110%;
        }
      }

    }
  &__content_title{
      @include media($small-screen) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 1;
        align-self: center;
        justify-self: center;

      }
        @include media($small-screen) {
          display:block;
        }

    }
  &__content_sub{
      @include media($small-screen) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 1;
        padding-left:1rem;
      }
      span{
         float:left;
         display:inline-block;
         clear:both;
         width:auto;
         margin-bottom:0.4rem;
         background-color:#fdd54f;
         padding:0.25rem;


      }
      @include media($medium-screen) {
        @include vertical-align(50%);
        right:-10rem;
        .theme_6 &{
          right:-12rem;
        }
        height:auto;
        width:auto;
        span{
          padding:0.25rem;
        }
      }
    }
  &__content__p{
    float:left;
      margin:1rem auto;
      @include media($small-screen) {
       grid-column: 1 / 3;
       grid-row: 3 / 4;
       -ms-grid-column: 1;
       -ms-grid-column-span: 2;
       -ms-grid-row: 3;
       -ms-grid-column-span: 1;
       margin:1rem auto;
       width:80%;
    }
      @include media($medium-screen) {
        // @include hozizontal-align(30%);
        position:absolute;
        left:0rem;
        top:100%;
        z-index:2;
        color:#fff;
        background-color:rgba(0,0,0,0.86);
        padding:1rem;
        margin:0 auto;
        width:100%;
        }
      }
  &__image_wrap{
      grid-column: 1 / 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-row: 1 / 2;
      -ms-grid-row: 1;
      -ms-grid-column-span: 1;
      width: 100%;
      @include media($medium-screen) {
        position: absolute;
        z-index:1;
        height:100vh;

        // width:100vw;

      }
      @include media($large-screen){
        min-height:62.5rem;
      }
      .sotu_theme__site-subtitle{
        position:absolute;
        display:block;
        z-index:5;
        right:0rem;
        top:1rem;
        @include media($xsmall-screen) {
          left:inherit;
          right:0.5rem;
          top:3rem;
        }
        @include media($small-screen) {
          right:0.5rem;
          top:3rem;
        }
        @include media($medium-screen) {
          right:1rem;
          top:5rem;
        }
      }
    }
  &__image{
        height:auto;
        width:100%;
        display:block;
      @include media($medium-screen) {
        display:none;
      }
    }
  &__image-bg{
    display:none;
    height:100%;
    background-repeat:no-repeat;
    background-position:center top;
    @include media($medium-screen) {
      background-size:contain;
      display:block;
      height:100%;

    }
    @include media($large-screen) {
        background-size:cover;
        height:100vh;
        min-height:62.5rem;
        display:block;
    }
    .theme_1 & {
      background-image:url('../images/ps.jpg');

    }
    .theme_2 & {
      background-image:url('../images/ngc.jpg');
    }
    .theme_3 & {
      background-image:url('../images/hmi-2.jpg');
    }
    .theme_4 & {
      background-image:url('../images/Sustainable-planet-theme-image.jpg');
    }
    .theme_5 & {
      background-image:url('../images/ha.jpg');
    }
    .theme_6 &{
      background-image:url('../images/crnw.jpg');
    }
    .theme_1 &,.theme_2 &,.theme_3 &,.theme_4 &,.theme_5 &{

    }
  }
}
