
.uw-site-sidebar--wrapper{
  grid-row: 2;
  grid-column: 1 / 4;
  width:100%;
  margin-bottom:1rem;
  padding-left:0.5rem;
  position: relative;
  @include media($large-screen) {
    margin-top: 4rem;
    grid-row: 3;
    grid-column: 1 / 2;
    height:calc(100% - 50rem);
    .logged-in &{
      margin-top:4rem;
    }
    .logged-in.page-node-draft &{
      z-index:5;
      position:relative;
    }
  }
  .wide &{
    display:none!important;
  }
}
.logged-in .block-system .content{
  margin-top:2rem;
}

.block-workbench{
  grid-row: 1/2;
  grid-column: 1/4;
  margin:0;
}
.uw-site--sotu{
  .stories_rss_link{
      display:none;
    }
  .stories_featured_image{
    .not-front & {

    }
    .node-type-uw-stories &{
      position:relative;
      width:100%;
      &.hero{
        text-align:center;
        margin:0 auto;
      }
      .stories_featured_img{
        display:block;
        img{
          display: block;
        }
         @include media($large-screen) {
         display: inherit;
          img{
             display: inherit;
            }
         }
      }
      .article-info{
        @include outer-container;
        background:$white;
            p,h1,h2,h3,h4,h5,span{
              padding-left:1rem ;
              padding-right:1rem;
            }
            p{

            }
           &.use{
              @include media($large-screen) {
                margin-top:-10rem;

              }
            }
           &.no-use {
             @include media($large-screen) {
               margin-top: 3rem;
              }
           }
            @include media($large-screen) {
            padding-top:1rem;
            background:$white;
            position: relative;
            &.left{
              text-align:left;
            }
            &.right{
              // right:10%;
             text-align:right;
            }
        }

      }
    }
  }
  // Top colored tags
  .field-name-field-topics-area{
   .field-items{
     .field-item{
      margin:0.15rem 0;
      a{
        display:inline-block;
        line-height:1.25;
        width:auto;
        padding:0.5rem;
        text-decoration:none;
        }
      }
    }
  }
  .page-type-uw-stories {
    z-index:0;
    position:relative;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns:100%;
    width:100%;
    grid-gap:1rem;
    @include media($large-screen){
      grid-template-columns:  40%  58%;
    }
    @include media($xxlarge-screen){
      grid-template-columns:  45%  53%;
    }
    .uw-site-content{
      grid-row:3;
      grid-column: 1 / 2;
      display: block;
      padding:0 1rem;
      @include media($large-screen){
        grid-column: 1 / 3;
        display: grid;
        padding:0 1rem;
        grid-template-columns:  40%  58%;
      }
      @include media($xxlarge-screen){
        grid-template-columns:  45%  53%;
      }
      .region-content{
        grid-row: 3;
        grid-column: 1 / 3;
        .block-system{
          grid-row: 2;
          grid-column: 1 / 3;
        }


      }
    }
    &.no-sidebar-present{
      .uw-site-content{
        @include media($large-screen){
          grid-gap:0;
          grid-template-columns: 100%;
        }
      }
    }
  }

  .addtoany-wrap{
    .page-taxonomy &{
      display:none;
    }
    margin-top:-2rem;

     ul{ margin-left:0;
       padding-left:0;

       @include media($large-screen) {
         padding-left:0.5rem;
       }
      }
    li{
      list-style:none;
      &.addtoany{

        span{
          display:inline-block;
          .addtoany_list{
            display:block;

            position:relative;

            a{
              width:2rem;
              height:2rem;
              display:inline-block;
              margin:0.25rem;
              span.a2a_svg{
                width:2rem !important;
                height:2rem !important;
                background:$gray !important;

              }
              &:hover,
              &:focus{
                span.a2a_svg{
                  svg{
                    path{
                      fill:$dark-gray !important;
                    }
                  }
                  background:$lightest-gray !important;
                }
              }
              @include media($medium-screen) {
                margin:0 0.125rem;
              }
              svg{
                width:2rem;
                height:2rem;
              }
              .a2a_label{
                visibility:hidden;
                height:0;
                width:0;
                overflow:hidden;
              }
              &.addtoany_share_save{
                visibility:hidden;
                height:0;
                width:0;
                overflow:hidden;
              }
              &.a2a_button{
                &_facebook{

                }
                &_twitter{

                }
                &_googleplus{

                }
                &_linkedin{

                }
              }
            }
          }
        }

      }
    }

  }


  .related-stories{
    padding:0;
    margin:1rem 0 0 0;
    ul{
      padding-left: 0;
      margin-left:0;
      @include media($medium-screen) {
              display: grid;
              grid-template-columns: 33%  33%  33%;
              grid-gap: 0.25rem;
              grid-auto-flow: row;

      }
      li{
        list-style-type:none;
        a{
          margin:0 0 1rem 0 ;
          padding: .7rem;
          display:block;
        }
      }
    }
    .stories-related-item{
      a{
        display:block;
        float:left;
          @include borderEffect(1px, $white, $white, $white, 0px);
          &:hover, &:focus{
          text-decoration:none;
          @include borderEffect(1px, $white, #eee,$white, 0px);
        }
       @include media($medium-screen){
          min-height: 24rem;
        }
        @include media($large-screen){
          min-height: 23.125rem;
        }
      }
    }
    .stories-related-img{
      height:100%;
      float:left;
      figure{
        -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
        -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          blockquote.image_field_caption{
            display:none;
          }
       }

    }
    .stories-related-info{
      margin: 0.5rem 0  1rem  0;
      padding: 0rem 0.5rem;
      float:left;
    }

  }
  .external-links{
    margin:2rem 0 0 0;
    ul{
      &.external-links-list{
        margin:0;
        padding:0;
      }
    }
  }
  .uw-site--tag{
    height:100%;
    overflow:hidden;
  }
  .uw-site--tag-wrap{
    position:relative;
    width:100vw;
    height:auto;
    z-index:1;
    clear:both;
    // margin-top:-100rem;
    span.uw-site--tag-text{
      display:block;
      z-index:2;
      width:100vw;


    }
    .facts{
        z-index:3;
        font-size:10rem;
        height:auto;
        position:absolute;
        @include vertical-align(10%);
        @include hozizontal-align(50%);
    }
  }

}
.uw_ct_story{
  .node-type-uw-stories & {
    width:100%;
    display:block;
    grid-column:1 / 3;
    @include media($large-screen) {
      display: grid;
      grid-auto-flow: row;
      width:100%;
      grid-template-columns:  40%  58%;
      grid-gap:1rem;
      }
      @include media($xxlarge-screen){
        grid-template-columns:  45%  53%;
      }
    .article-inline{
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      padding-bottom:2.5rem;
      .field-name-field-subhead{
        border-bottom:1px solid $light-gray;
        margin:0.5rem 0;
      }
      .author{
        display:block;
        clear:both;
        margin:0.5rem 0;
      }
      .author-position{
        display:block;
        font-style:italic;}
      .article-date{}
    }
    .topics{
      .field{
        min-height:2rem;
        &.field-name-field-topics-area,
        &.field-name-field-topics-societal-relevance,
        &.field-name-field-topics-strategic-alignment{
          clear:both;
          .field-items{
            .field-item{
              float:left;
              width:auto;
              margin:0.25rem;
              &:first-child{
                margin-left:0;
              }
              &:last-child{
                margin-right:0;
              }
              a{
                display:inline-block;
                line-height:1.25;
                padding:0.5rem;
                text-decoration:none;
              }
            }
          }
        }
      }
      @include media($small-screen) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        .field{
          min-height:2rem;
          &.field-name-field-topics-area,
          &.field-name-field-topics-societal-relevance,
          &.field-name-field-topics-strategic-alignment {
            clear:both;
            .field-items{
              .field-item{
                float:inherit;
                width:auto;
                margin:0.25rem 0;
                a{
                  display:inline-block;
                  line-height:1.25;
                  padding:0.5rem;
                  text-decoration:none;
                }
              }
            }
          }
        }
      }
    }

    .uw-sotu-sidebar{
      @include media($large-screen) {
        grid-column: 1 /2;
      }

    }
    .content_node{
      @include media($large-screen) {
        grid-column: 2 / 3;
        grid-row: 1;
        min-height:35rem;

      }
    }

    .stories-footer-topics{
      margin-top:4rem;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      @include media($medium-screen) {
        margin-top:1rem;
      }
      .field{
        display:inline-block;
        width:auto;
        min-height:2rem;
        &.field-name-field-topics-area,
        &.field-name-field-topics-societal-relevance,
        &.field-name-field-topics-strategic-alignment {
          .field-items{
            display:inline-block;
            .field-item{
              display:inline-block;
              width:auto;
              margin:0.25rem;
              &:first-child{
                margin-left:0;
              }
              &:last-child{
                margin-right:0.5rem;
              }
              a{
                display:inline-block;
                line-height:1.25;
                padding:0.5rem;
                text-decoration:none;
              }
            }
          }
        }
      }
    }
    > .links{
      @include media($small-screen) {
        margin:0 ;
      }
      li{
        list-style-type: none;
        margin:0;
        padding:0;
        width:100%;
        &.node-readmore{
          display:none;
        }


      }
    }
    .other-links{
      margin-top:1rem;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }
  }
}

.wide.node-type-uw-stories .sidebar-present  .uw_ct_story{
  display:block;
}
.node-type-uw-stories .no-sidebar-present  .uw_ct_story{
  display:block;
}

body.org_default .uw-site--sotu .article-info {
  text-align:left;
  h1{
    margin: 2rem 0 ;
  }
   h1,h2,p {text-align:left;}

  h2{
     color: $gray;

  }
  > p{
    margin: 1rem 0 ;
    font-family:$base-font-family;
    font-size: modular-scale(3);
    line-height:1.5;
    color:$uw-black;


  }
  span{
    display:block;

    &.author{
      display:block;
      clear:both;
      margin:0.5rem 0;
    }
    &.author-position{
      display:block;
      margin-bottom:0.25rem;
      @include media($large-screen) {
        margin-bottom:1rem;
      }
      font-style:italic;
    }
    &.article-date{
      display:inline-block;
      width: 100%;

      @include media($large-screen) {
        position:absolute;
        top:-2.15rem;
        left:0;
        width:auto;
      }

    }
  }
 &.no-use {
    span{
      &.article-date{
        position:relative;
        top:0rem;
        left:0;
      }
    }
  }
  @include media($large-screen) {
    h1{color:$black;
    margin-top:1rem;}
    span{
      display:block;
      &.author{
        color:$black;
        display:block;
        clear:both;
        margin:0.5rem 0;
      }
      &.author-position{
        color:$black;
        display:block;
        margin-bottom:0.25rem;
        font-style:italic;
      }
      &.article-date{

      }
    }
  }
}

//.node-uw-stories{
//  background-color:transparent;
//}
//.node-unpublished{
//  .node-inner{
//    background-color:rgba(243,226,226,0.65);
//  }
//}