

//Label "buttom for show hide caption

.sotu-show-caption{
  // display:none;
  span{
    @extend %button;
    background:$uw-gold;
    color:$black;

        padding:0.25rem 1.5rem 0.25rem 1rem;
      // padding:0.25rem 1.5rem 0.25rem 1rem;

    &:after{
      display:inline-block;
      height:1rem;
      width:1rem;
      font-weight:bold;
      font-size:1rem;
      position: absolute;
    }

  }
  position:absolute;
  // left:0;
  // bottom:0;
  right:0rem;
  .not-front &{
        margin-top:-2rem;
  }

  display:block;
  z-index: 4;
  // @include vertical-align(100%);
  .front & {
    // right:inherit;
   // @include vertical-align(80%);
   //  @include hozizontal-align(50%);
  }
  @include media($small-screen) {
    .front & {
     margin-top:-2.1rem;
       }
  }
  @include media($medium-screen) {
  .not-front &{     right:1rem;
 margin-top:-5rem;}
  }
  @include media($large-screen) {
  .not-front &{margin-top:-15rem;}

  }
  @include media($xlarge-screen) {

.not-front &{  margin-top:-5rem;}

  }
}

// Use the class for functionality,

input.showCaption[type="checkbox"]{
  height:0;
  width:0;
  overflow:hidden;
  display:none;
  ~ .sotu-show-caption span{
    &:after{
      content:'\2193';
    }
  }
  // @include media($large-screen) {
    ~ .sotu-hero-overlay,
    ~ .article-caption{
        .article-caption-inner{
          opacity:0;
          @include outer-container(100%);
          padding:0.8rem;
          @include insetShadow(0px,0px,4px,0px,rgba(0,0,0,0.92))
          @include uw-transition($delay: 0s, $duration: 500ms, $timing: "easeIn", $property: (opacity));

        }
      overflow: hidden;
      max-height: 0;
      @include uw-transition($delay: 500ms, $duration: 500ms, $timing: "easeIn", $property: (max-height));
      .front &{
        @include uw-transition($delay: 0ms, $duration:500ms, $timing: "easeIn", $property: (max-height));

      }
    }
    ~ .article-info.use{
        @include media($large-screen){  margin-top: -10rem;}
        @include uw-transition($delay: 250ms, $duration:500ms, $timing: "easeIn", $property: (margin-top));


    }
    &:checked{
      ~ .sotu-show-caption span{
        &:after{
          content:'\2191';
        }
      }
      ~ .sotu-hero-overlay,
      ~ .article-caption{
        .article-caption-inner{
          opacity:1;
          @include uw-transition($delay: 250ms, $duration: 250ms, $timing: "easeIn", $property: (opacity));

          @include insetShadow(0px,0px,4px,0px,rgba(0,0,0,0.92));
          padding:0.8rem;
        }
        @include uw-transition($delay: 0s, $duration: 500ms, $timing: "easeOut", $property: (max-height));
        overflow:hidden;
        max-height: 100rem;
        @include media($large-screen) {
          max-height: 50rem;
        }

        }
        ~ .article-info.use{
          @include media($large-screen){ margin-top: 3rem;}

          @include uw-transition($delay: 0s, $duration:500ms, $timing: "easeOut", $property: (margin-top));
        }
      }
  // }
}


.sotu-hero-overlay,
.article-caption{
  text-align:left;
  background:$black;
   width:100%;
   z-index: 1;
   @include media($large-screen) {
    background-color:#222;

   }
}





.uw-stories--main{
  .uw-site-—title{
    position:absolute;
    display:inline-block;
    top:3rem;
    padding-left:1rem;
    padding-right:1rem;
    //left:1rem;
    z-index:5;
    width:auto;
    //background:rgba(33,33,33,0.2);
    -webkit-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    span{
      display:block;
    }
    //&::before{
    //  position:absolute;
    //  width:100%;
    //  content:'2018 - 2019';
    //  content:'';
    //  top:-1.5rem;
    //  padding-bottom:0.25rem;
    //}
    @include media($xsmall-screen) {
      top:3rem;
      padding-left:3rem;

      //left:3rem;
      &::before{

      }
    }
    @include media($small-screen) {
      top:3rem;
      //left:3rem;
      &::before{

      }
    }
    @include media($medium-screen) {
      top:10rem;
      padding-right:1rem;
      //left:3rem;
      &::before{
      }
    }
    @include media($large-screen) {
      //left:3rem;
      padding-right:2rem;
      //&::before{
      //    padding-bottom:0.5rem;
      //    top:-3rem;
      //}
    }
    @include media($xlarge-screen) {
      top:12rem;
      padding-left:10rem;
      //left:10rem;
      //&::before{
      //    padding-bottom:0.5rem;
      //    top:-3rem;
      //}
    }
    @include media($onek-screen) {
      top:20rem;
      //left:10rem;
      //&::before{
      //  top:-3rem;
      //}
    }
  }
  .uw-site—subtitle{
    position:absolute;
    display:block;
    z-index:5;
    right:0rem;
    top:1rem;
    @include media($xsmall-screen) {
      left:inherit;
      right:0.5rem;
      top:3rem;
    }
    @include media($small-screen) {
      right:0.5rem;
      top:3rem;
    }
    @include media($medium-screen) {
      right:1rem;
      top:5rem;
    }
    // @include media($large-screen) {
    //   right:1rem;
    //   top:5rem;
    // }
  }
}


//mouse follolw parallax
.box {
  background: #000;
  width:100%;
  height:calc(100vh - 70px);
  @include media($medium-screen) {
    height:100vh;
  }
  position: relative;
  z-index: map-get($zindex, background);
  overflow: hidden;
  //&::after{
  //  content:'';
  //  position:relative;
  //  width: 100%;
  //  height:100%;
  //	z-index:4;
  //}
  @include media($large-screen) {
    //&::after{
    //  position:absolute;
    //  @include insetShadow(0px,0px,50px,80px,rgba(0,0,0,0.92));
    //}
  }

}
.uw-site-sotu-sidebar{
  margin-bottom:1.5rem;
}

.layer {
  position: absolute;
  display: block;
  height:100%;
  width:100%;

}
.layer-l1{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  text-rendering: optimizeLegibility;
  width: 100%;
  height:100vh;
  padding:0;
  margin:0;
  overflow:hidden;
  @include uw-transition($delay: 0s, $duration:250ms, $timing: "ease", $property: (top,left));

}
.layer-l1{
    background-image:url('../images/Global-Impact-banner-image.jpg');
	background-color:#000;

}

//Person

.sotu-person{
    padding:0.8rem;
    display:block;
    @include media($xsmall-screen) {
      display: grid;
      grid-template-columns:10rem auto;
      grid-auto-flow: row;
    }
    @include media($medium-screen) {
      grid-template-columns:100%;
      grid-auto-flow: row;
    }
    @include media($large-screen) {
       display: grid;
       grid-template-columns:100%;
       grid-auto-flow: row;
    }

}
.sotu-person-image{
    @include circle(7.2rem);
    margin:0.5rem auto;
    clear:both;
    @include media($xsmall-screen) {
      clear:inherit;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @include circle(7.2rem);
    }
    @include media($medium-screen) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
        @include circle(18.75rem);
    }

    @include media($xxlarge-screen) {
      grid-column: 1 / 2;
      @include circle(25rem);
    }
  }
.sotu-person-info{
    width:100%;
    @include clearfix();
    margin-bottom:2rem;

    @include media($xsmall-screen) {
      padding-top:2rem;
      margin-bottom:1rem;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      clear:inherit;
    }
    @include media($medium-screen) {
      width:100%;
      @include clearfix();
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom:2rem;
    }
      @include media($large-screen) {
        padding-top:2rem;
        margin-bottom:1rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        clear:inherit;
      }
  .sotu-tag{
    &.campus-yellow{}
    &.campus-white{
      img{
        width:15rem;
      }
    }
    &.campus-black{}
  }
}
.sotu-person-description{
  width:100%;
  display:block;
  clear:both;

  @include media($xsmall-screen) {
    margin-top:1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    clear:inherit;
  }
  p{

  }
}


.front {
  .sotu-person{
      padding:0.8rem;
      display:block;
      @include media($xsmall-screen) {
        display: grid;
        grid-template-columns:10rem auto;
        grid-auto-flow: row;
      }
      @include media($medium-screen) {
        grid-template-columns:100%;
        grid-auto-flow: row;
      }
      @include media($large-screen) {
         display: grid;
          grid-template-columns:10rem auto;
         grid-auto-flow: row;
      }

  }
  .uw_stories_non_sticky .sotu-person,
  .uw-sotu-footer .sotu-person{
    @include media($xsmall-screen) {
     grid-template-columns:10rem auto;
     }
   @include media($small-screen) {
      grid-template-columns:12rem auto;
    }
     @include media($medium-screen) {
    grid-template-columns:25rem auto;

     }
    @include media($large-screen) {
     grid-template-columns:20rem auto;
     }
     .sotu-person-image{
         @include circle(15rem);
         @include media($xsmall-screen) {
             // clear:inherit;
             // grid-column: 1 / 2;
             // grid-row: 1 / 2;
             @include circle(8rem);
         }
         @include media($small-screen) {
               @include circle(10rem);
         }
         @include media($medium-screen) {
              @include circle(15rem);
           //  grid-column: 1 / 2;
           //  grid-row: 1 / 2;
           // @include circle(10rem);
         }
         @include media($large-screen) {
             // grid-column: 1 / 2;
             // @include circle(7.2rem);
         }
         @include media($xxlarge-screen) {
             // grid-column: 1 / 2;
             @include circle(15rem);
         }
     }
     .sotu-person-info{

         @include media($medium-screen) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
           // @include circle(10rem);
         }
     }
  }
  .sotu-person-image{
      @include circle(7.2rem);
      margin:0.5rem auto;
      clear:both;
        @include media($xsmall-screen) {
            clear:inherit;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            @include circle(7.2rem);
        }
        @include media($medium-screen) {
           grid-column: 1 / 2;
           grid-row: 1 / 2;
          @include circle(10rem);
        }
        @include media($large-screen) {
            grid-column: 1 / 2;
              @include circle(7.2rem);
        }
    }
  .sotu-person-info{
      width:100%;
      align-self: end;
      justify-self:end;
      @include clearfix();
      margin-bottom:2rem;

      @include media($xsmall-screen) {
        padding-top:2rem;
        margin-bottom:1rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        clear:inherit;
      }
      @include media($medium-screen) {
        width:100%;
        @include clearfix();
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          margin-bottom:2rem;

      }
        @include media($large-screen) {
          padding-top:2rem;
          margin-bottom:1rem;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          clear:inherit;
        }
    .sotu-tag{
      &.campus-yellow{}
      &.campus-white{
        padding:0;
        margin:0;
        padding-left:0.75rem;
        &:before{
          content: '>';
        }
        img{
          width:15rem;

        }
      }
      &.campus-black{}
    }
  }
  .sotu-person-description{
    width:100%;
    display:block;
    clear:both;

    @include media($xsmall-screen) {
      margin-top:1rem;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      clear:inherit;
    }
    p{

    }
  }

}

.uw-sotu-footer{
  @include outer-container(100%);

  &_profile{
    @include outer-container();
    position:relative;
    height:100%;
    margin:4rem auto;

    .sotu-person{

    }

  }
  &_info{
    position:relative;
    z-index:0;
    min-height:80rem;
    padding-top:18rem;
    height:100%;
    width:100%;
    background-image:url('../images/lines-s.jpg');
  @include media($xsmall-screen) {
      padding-top:25rem;
  }
  @include media($small-screen) {
      padding-top:30rem;
        // background-image:url('../images/lines-m.jpg');
  }

    background-repeat:no-repeat;
    background-position:center top;
    background-size:contain;
    @include media($medium-screen) {
    background-image:url('../images/lines.jpg');
          min-height:120rem;
          background-size:cover;
    }
    @include media($large-screen) {
  min-height:110rem;
    }
    display:none;
  }
  &_right{
      position:relative;
      padding:2rem;
      background:#fff;

      @include media($medium-screen) {
        position:absolute;

        width:100%;
        bottom:0;
    }
      @include media($large-screen) {
        position:absolute;
        top:40rem;
        width:30rem;
        right:2rem;
        bottom:inherit;
        background:rgba(255,255,255,0.9);

      }
      @include media($xlarge-screen) {
          right:10rem;
          width:40rem;
      }

  }
  &_left{
    padding:2rem;
    height:100%;
    background:rgba(255,255,255,0.92);
      @include media($medium-screen) {
        position:absolute;
        top:0;
        left:0rem;
        bottom:0;
        width:25rem;
      }
  }
  &_theme{
    margin:2rem 0;
    min-height:17rem;
  }
  &_theme_info{

  }
  &_theme_feature_image{
    @include circle(8rem);
    display:block;

      @include media($medium-screen) {
          float:left;
      }
    margin-right:0.75rem;
    margin-bottom:0.5rem;
  }
  &_theme-title{
    display:block;
  }
  &_theme-location{
    display:block;
  }
  &_theme-aff{
  display:block;

  }
  &_theme-teaser{

    clear:both;
    display:block;

    @include media($medium-screen) {
      width:80%;
      padding-left:10%;
    }
  }
}
.uw-sotu-oped-wrap{
    display: grid;
      grid-template-columns:100% ;
    @include media($medium-screen) {
        grid-template-columns: auto auto ;
    }
  }
.uw-sotu-oped-story{
  margin: 1rem;

  a{
    display: grid;
    padding:1rem;
    height:100%;
    @include uw-transition($delay: 0s, $duration:250ms, $timing: "ease", $property: (background-color));
    background:transparent;
    border:1px solid $lighter-gray;
    grid-template-columns:10rem auto;
    &:hover{

        @include uw-transition($delay: 0s, $duration:250ms, $timing: "ease", $property: (background-color));
        background:$lighter-gray;
        border:1px solid $lighter-gray;
      }
    }

  }
.uw-sotu-oped-feature_image{
      @include circle(8rem);
      grid-column: 1 / 3;
      margin:0 auto;

      img{
        padding-top:1rem;
        transform:scale(2,2);
      }
      @include media($xsmall-screen){
        grid-column: 1 / 2;
        margin:0;
      }

  }
.uw-sotu-oped-info{
  display:block;
  grid-column: 1 / 3;
  margin-bottom:1rem;
  margin-top:1rem;
    @include media($xsmall-screen){
      grid-column: 2 / 3;
      margin-bottom:0;
      margin-top:0;
    }
    width:auto;
  }
.uw-sotu-oped-title{
  display:inline-block;
  font-family: $condensed-font-family;
  font-weight: $weight-regular;
  line-height: $heading-line-height;
  text-decoration:none;
  font-size: modular-scale(2);
  margin-bottom:1rem;

  }
.uw-sotu-oped-teaser{
    display:inline-block;
    font-family:$font-bg;
    font-size: modular-scale(-1);
    font-weight: $weight-light;
  }
