

.stories_featured_image{
  width: 100%;
}
.stories_featured_img{
  height:auto;
  width:100%;
  display:block;

}
.stories_featured_img img{
  height:auto;
  width:100%;
  display:block;
}
span.article-date {
       font-family: $font-1451-medium;
       display: inline-block;
       clear: both;
       text-transform: uppercase;
       font-weight: $weight-regular;
       font-size: modular-scale(-1);
       padding:0.5rem 1rem 0.5rem 1rem;
       margin-top:1rem;
       .uw_stories_sticky &{
          margin-top:0;
       }

}
.uw_ct_story{
   .article-list-layout,
   .layout-dir-check,
   .links,
   .addtoany_list{
      .uw_stories_non_sticky &,
      .uw_stories_sticky &{
        display:none;
        }
    }
 }
.uw_stories_sticky{
   background:$black;
   .uw-sotu & {
        background:white;
   }
  .not-front &{
    background:white;
    }
   }
@supports (display: grid) {
   .uw_ct_story {
    .uw_stories_sticky &{
         // background:$black;
         a{
          display:block;
          padding:0;
          margin:0;
          .article-hp{
            padding:1rem;
          }
         .article-hp-info{

           }
           &:hover{
             .article-hp{
               background-image:inherit;
           }
             .article-hp-info{
               background-image:none;
               background-color:$uw-gold;


             }
           }
         }

        }
    }
    .paragraphs-items {
      display: grid;
      grid-template-columns:  100%;
      grid-gap: 1px;
      color: #444;
      grid-auto-flow: row;
      @include media($medium-screen) {
        grid-template-columns: 50% 50%;
      }
      @include media($large-screen) {
        grid-template-columns:  minmax(48%, 1fr)  22%  22%;
      }
    }
    .paragraphs-items{
      .uw_ct_story{
        height: auto;
        overflow:hidden;
        position:relative;
        @include media($small-screen) {
          .stories_featured_image{
            img {
              display:block;
              height:100%;
            }
          }

        }
        @include media($medium-screen) {
          .stories_featured_image{

            img {
              display:block;
              height:100%;
            }
          }
          .article-hp{
            height:10rem;

          }

        }
        @include media($large-screen) {
          height:20rem;
          .stories_featured_image{
            height:auto;

            img {
              display:block;
              height:100%;
            }
          }
            .article-hp{

          }
        }
        @include media($xlarge-screen) {
          height:24rem;
          .stories_featured_image{

          }
          .article-hp{
            .article-hp-info{
              //height:11rem;
            }
          }
        }
        @include media($xxlarge-screen) {
          height: 30rem;
          .stories_featured_image{

          }
          .article-hp{
            .article-hp-info{
              //height:11rem;
            }
          }
        }
        @include media($onek-screen) {
          height: 35rem;
          .stories_featured_image{

          }
          .article-hp{
            .article-hp-info{
              //height:11rem;
            }
          }
        }
        @include media($twok-screen) {
          height: 40rem;
          .stories_featured_image{

          }
          .article-hp{
            .article-hp-info{
              //height:11rem;
            }
          }
        }
      }
      > div:nth-child(1) {
         .uw_ct_story{
           height: auto;
           overflow:hidden;
           @include media($small-screen) {
             .stories_featured_image{
               height:auto;
             }
             .article-hp{

               height:auto;


             }
           }
           @include media($large-screen) {
             height:44rem;
             .stories_featured_image{
               //height:25rem;
             }
             .article-hp{

             }
           }
           @include media($xlarge-screen) {
             height: 52rem;
             .stories_featured_image{
               //height: 30rem;
             }
             .article-hp{

             }
           }
           @include media($xxlarge-screen) {
             height: 56rem;
             .stories_featured_image{

             }
             .article-hp{
               .article-hp-info{
                 //height:11rem;
               }
             }
           }
           @include media($onek-screen) {
             height: 60rem;
             .stories_featured_image{

             }
             .article-hp{
               .article-hp-info{
                 //height:11rem;
               }
             }
           }
           @include media($twok-screen) {
             height: 72rem;
             .stories_featured_image{

             }
             .article-hp{
               .article-hp-info{
                 //height:11rem;
               }
             }
           }
         }
      }
      > div:nth-child(2),
      > div:nth-child(3),
      > div:nth-child(4),
      > div:nth-child(5)  {
         .uw_ct_story{
          @include media($medium-screen) {
          }
          @include media($large-screen) {
          height: 22rem;
          }
          @include media($xlarge-screen) {
          height: 26rem;
          }
          @include media($xxlarge-screen) {
          height: 28rem;
          }
          @include media($onek-screen) {
          height: 30rem;
          }
          @include media($twok-screen) {
          height: 36rem;
          }
         }
        // background:olive!important;
      }
     .paragraphs-item-featured-stories {
        //.field-name-field-subhead,
        .links,
        .addtoany_list{
          display:none;
        }
        &:first-child{
         .field-name-field-subhead{
            display:block;
          h2{
            color:$uw-gold;
          }
          p{
            display:block;
            font-size: inherit;
            line-height:inherit;

            }

          }
        }

      //only1
        &:first-child:nth-last-child(1) {
          // height: 40rem;
          grid-column: 1 / 4;
          grid-row: 1 / 3;

          }
      //only 2
          &:first-child:nth-last-child(2){
            // height: 40rem;
            grid-column: 1 / 2;
          }
          &:first-child:nth-last-child(2) ~ .paragraphs-item-featured-stories {
            grid-column: 2 / 4;
            grid-row: 1 / 3;

          }
      //only 3
          &:first-child:nth-last-child(3){
            // height: 40rem;
            grid-column: 1 / 2;
             grid-row: 1 / 3;
             ~ .paragraphs-item-featured-stories {
               grid-column: 2 / 4;
             }
             ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
               grid-column: 2 / 4;
             }
          }
      //only 4
          &:first-child:nth-last-child(4){
              grid-column: 1 / 2;
              grid-row: 1 / 3;

            ~ .paragraphs-item-featured-stories {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
             }
             ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
                grid-column: 3 / 4;
                grid-row: 1 / 2;

             }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
                grid-column: 2/ 4;
                grid-row: 2 / 3;

             }
          }
      // all 5 showing
          &:first-child:nth-last-child(5){
            grid-column: 1 / 2;
            grid-row: 1 / 2;
              @include media($medium-screen){
                grid-column: 1 / 3;
                grid-row: 1 / 2;
              }
              @include media($large-screen){
                grid-column: 1 / 2;
                grid-row: 1 / 3;
              }
              ~ .paragraphs-item-featured-stories {
                  grid-column: 1 / 2;
                  grid-row: 2 / 3;
                  @include media($medium-screen) {
                    grid-column: 1 / 2;
                    grid-row: 2/ 3;
                  }
                  @include media($large-screen){
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                  }
               }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 3/ 4;
              @include media($medium-screen) {
                grid-column: 2 / 3;
                grid-row: 2/ 3;
              }
              @include media($large-screen){
                grid-column: 3 / 4;
                grid-row: 1 / 2;
              }
            }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 4 / 5;
              @include media($medium-screen) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
              }
              @include media($large-screen){
                grid-column: 2 / 3;
                grid-row: 2 / 3;
              }
            }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 5/ 6;
              @include media($medium-screen){
                grid-column: 2 / 2;
                grid-row: 3 / 4;
              }
              @include media($large-screen){
                grid-column: 3 / 4;
                grid-row: 2 / 3;
              }
            }
          }
            @include media($xlarge-screen){
           }
        }
    }
    .uw_stories_non_sticky{
      .view-uw-stories{
        min-height:45rem;
      }
      form{
        width:100%;
        margin:0;
        .views-exposed-form{
            width:100%;
            padding:1rem;
            background:$light-gray;
            .views-exposed-widgets{
               margin-bottom:0;
               width:auto;
            }
        }
        .view-filters{
          height:auto;
        }
      }
      .view-empty{

        padding:1rem;
        max-width:80%;
        margin:2rem auto;
        background-color:#fffaaa;
        border:1px solid #fdd54f;
        display:block;
      }
      .term-listing-heading{
        grid-column:1 / 2 ;
        grid-row: 1 / 2;
        @include media($xsmall-screen){
          grid-column:1 / 3 ;
        }
        @include media($medium-screen){
           grid-column:1 / 4 ;
        }
        p{
          margin: 0 0 $small-spacing;
          font-weight: $weight-regular;
          color:$black;
          &.highlight{
            color: $gray;
            font-size: modular-scale(3);
            line-height: $base-line-height;
          }
        }
      }
      .item-list{
        grid-column:1 / 4 ;
        grid-row:auto;
        text-align:center;
        margin:1rem auto;
      }
      // Change layout of the list from grid to list to grid
      div.view-content{
        display:block;

        @include media($xsmall-screen){
          display: grid;
          grid-gap: 1.25rem;
          color: #444;
          grid-auto-flow: row;
          grid-template-columns: 48%  48%;
         }
         @include media($medium-screen){
          display: grid;
          grid-template-columns: 32%  32%  32%;
         }
         @include media($large-screen){

         }

        .views-row{
          margin-top:0.5rem;
          .node-uw-stories{
            .uw_ct_story{

              a{
                display: block;
                padding:0.7rem;
                @include clearfix();
                @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
                &:hover, &:focus{
                  background:$lighter-gray;
                  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
                }
              }
            .stories_featured_image{
              min-height: 10rem;
              }
              .article-hp{

              }
              .addtoany_list,
              .field-name-field-subhead{
                display:none;
              }
              .links{
                ul.links{
                  li{
                    list-style-type: none;
                    list-style-image: none;
                  }
                }
              }
              @include media($xsmall-screen){

              }
              @include media($medium-screen){
                max-height:21rem;
                overflow:hidden;
                a{
                  min-height:21rem;
                }

              }
              @include media($large-screen){

              }
            }

          }

        }
      }
        .page-taxonomy-term &{
          display: grid;
          grid-gap: 1.25rem;
          color: #444;
          grid-auto-flow: row;

          > div > div.node-uw-stories{
               height:auto;
               .addtoany_list{
                display:none;
                }
               .links{
                ul.links{

                  li{

                  }
                }
              }
            }
          }
        }
      }

// End of @supports (display: grid)
.layout-dir-check{
  height:0;
  visibility:hidden;
  overflow:hidden;

}
.page-taxonomy-term #article-layout-dir[type=checkbox]{
  ~ div.region.region-content {
     display:block;

    .uw_ct_story {
      margin-bottom:1rem;
      p{
        font-size:modular-scale(0);
        line-height:inherit;
        color:$black;
      }
      a{
          display: block;
          padding:0.7rem;
          background:white;

          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
          &:hover, &:focus{
            background:$lighter-gray;
            @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
          }
        }
        .stories_featured_img{
          min-height:10.5625rem;
          background:$lightest-gray;
          font-size:modular-scale(-2);
        }
      }
    @include media($xsmall-screen){
      display: grid;
      grid-template-columns: 48%  48%;
    }
    @include media($medium-screen){
      display: grid;
      grid-template-columns: 32%  32%  32%;

    }
    grid-gap: 1.25rem;
    color: #444;
    grid-auto-flow: row;
       .field-name-field-subhead{
         p{
              font-size:modular-scale(0);
         }

       }
       span.article-date{
        display:none;
      }
  }
}
//.page-taxonomy-term #article-layout-dir[type=checkbox]:checked  ~ div.region.region-content
//{
//
//      display: block;
//      min-height: 10rem;
//      .uw_ct_story a{
//        display: block;
//        padding:0.7rem;
//        background:white;
//        @include clearfix();
//        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
//        &:hover, &:focus{
//          background:$lighter-gray;
//          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
//        }
//      }
//      .node-uw-stories{
//        margin:2rem 0;
//        padding-bottom:1rem;
//        border-bottom:1px solid $light-gray;
//        &:last-child{
//          border-bottom:1px solid transparent;
//        }
//      }
//
//      .stories_featured_image{
//        float:left;
//        width:25%;
//      }
//      .article-hp{
//        float:left;
//         width:70%;
//         margin-left:1rem;
//         padding:0rem;
//          span.article-date{
//
//             margin-top:0;
//          }
//         .field-name-field-subhead{
//        display:block;
//        float:left;
//          p{
//           font-size: modular-scale(0);
//          }
//        }
//      }
//}
.archive [type=checkbox]{
  ~ div.region.region-content #block-system-main > div.content > .view-uw-stories-archives > .view-content{
     display:block;

    .uw_ct_story {
      margin-bottom:1rem;
        a{
        display: block;
        padding:0.7rem;
        background:white;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        &:hover, &:focus{
          background:$lighter-gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        }
      }
    }
    @include media($xsmall-screen){
      display: grid;
      grid-template-columns: 48%  48%;
    }
    @include media($medium-screen){
      display: grid;
      grid-template-columns: 32%  32%  32%;

    }
    grid-gap: 1.25rem;
    color: #444;
    grid-auto-flow: row;
       .field-name-field-subhead{
        display:none;
      }
  }
}
.archive [type=checkbox]:checked ~ div.region.region-content #block-system-main > div.content > .view-uw-stories-archives > .view-content{
     display: block;
      min-height: 10rem;
      .uw_ct_story a{
        display: block;
        padding:0.7rem;
        background:white;
        @include clearfix();
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        &:hover, &:focus{
          background:$lighter-gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        }
      }
      .node-uw-stories{
        margin:2rem 0;
        padding-bottom:1rem;
        border-bottom:1px solid $light-gray;
        &:last-child{
          border-bottom:1px solid transparent;
        }
      }

      .stories_featured_image{
        float:left;
        width:25%;
      }
      .article-hp{
        float:left;
         width:70%;
         margin-left:1rem;
         padding:0rem;
          span.article-date{
             margin-top:0;
          }
         .field-name-field-subhead{
        display:block;
        float:left;
          p{
           font-size: modular-scale(0);
          }
        }
      }
     }

//#article-layout-dir[type=checkbox] ~ .article-list-layout{
//      position:absolute;
//      top:0;
//      right:0;
//      .page-taxonomy-term &{
//         top:-3rem;
//      }
//      label.article-layout-button{
//        width:4.5rem;
//         height:2.5rem;
//        position:relative;
//        padding:1rem;
//        background:$light-gray;
//        display:block;
//        &:focus{
//           background:$lightest-gray;
//        }
//      }
//      span{
//       display:block;
//       position:absolute;
//       top:0.5rem;
//       left:0.5rem;
//       @include uw-transition($delay: 0s, $duration: 100ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
//
//       &.article-layout-list{
//        opacity:1;
//        }
//        &.article-layout-grid{
//        opacity:0;
//        }
//      }
//    }
//#article-layout-dir[type=checkbox]:checked ~ .article-list-layout{
//
//      position:absolute;
//      width:4.5rem;
//      height:2.5rem;
//      top:0;
//      .page-taxonomy-term &{
//         top:-3rem;
//      }
//      label.article-layout-button{
//        position:relative;
//        padding:1rem;
//        background:$light-gray;
//        display:block;
//        &:focus{
//           background:$lightest-gray;
//        }
//      }
//     span{
//       display:block;
//       position:absolute;
//       top:0.5rem;
//       left:0.5rem;
//       @include uw-transition($delay: 0s, $duration: 100ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
//
//         &.article-layout-list{
//          opacity:0;
//          }
//          &.article-layout-grid{
//          opacity:1;
//          }
//        }
//    }
.article-list-layout{
   display:none;
   .page-taxonomy-term &,
   .front & {

     @include media($small-screen) {
        // display:block;
         display:none;
      }
   }

}
.uw_stories_sticky{
  .article-hp-info{
         padding:1rem ;
    }
}
.uw_stories_non_sticky{
position:relative;
}
.view-stories-featured-block{
  .layout-dir-check,
  .article-list-layout
  {
    display:none;
  }
}
