/* Tabs CSS
 * --------
 * Adds styles for the primary and secondary tabs.
 */
#block-workbench-block {
  margin-bottom: 1em;
  width:auto;
  min-height:3rem;
  background:none repeat scroll 0 0 #FFFBD9;
  border-color: #FFEBC5;
  border-style: solid;
  border-width:1px;
  @include clearfix();
}
